
build/app/outputs/apk/release/app-release.apk
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app-release.apk
build/app/intermediates/merged_native_libs/debug/out/lib/arm64-v8a/libVkLayer_khronos_validation.so
/build
/.dart_tool
/.dart_tool
/build
/build/app
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/flutter/debug/flutter_build.d
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
build/app/intermediates/assets/debug/flutter_assets/kernel_blob.bin
build/2794971a5855e7decd7bb368de5d49d1.cache.dill.track.dill
.dart_tool/flutter_build/153f12fc5640392c7a3b211d188004d9/kernel_snapshot.stamp
.dart_tool/flutter_build/153f12fc5640392c7a3b211d188004d9/kernel_snapshot.d
.dart_tool/flutter_build/153f12fc5640392c7a3b211d188004d9/flutter_assets.d
.dart_tool/flutter_build/153f12fc5640392c7a3b211d188004d9/debug_android_application.stamp
.dart_tool/flutter_build/153f12fc5640392c7a3b211d188004d9/app.dill
.dart_tool/flutter_build/153f12fc5640392c7a3b211d188004d9/.filecache
assets/models/ResNet152V2.tflite
assets/models/ResNet152V2.tflite
